<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Halaman Registrasi </title>
</head>
<body>
    <h1>Daftar Akun Baru</h1>
    <div class="main-input">
        <form action="/register" method="POST">
            <input type="hidden" name="id" >
            <input name="username" placeholder="username" >
            <input type="password" name="password" placeholder="password">
            <input name="email" placeholder="email" >
            
            <button type="submit" >Register</button>
        </form>
    </div>
</body>
</html>