<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <div>
            <h1>Daftar Afiliasi</h1>
        </div>
        <form action="{{url_for('daftar')}}" action="POST">
            <input type="name" name="name" placeholder="nama company">
            <input type="email" name="email" placeholder="email company">
            <input type="password" name="password" placeholder="password">
            <input type="domain" name="domain" placeholder="domain situs">
            <input type="referal" name="referal" placeholder="referal">
            <button type="submit" >Daftar</button>
        </form>
    </div>
</body>
</html>